@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

$bg-color: #17A1E6;

$break-point: 480px;

$m-panel-scale: 0.8;
$panel-font-size: 1rem;
$m-panel-font-size: $panel-font-size * $m-panel-scale;
$glid-min-size: 100px;
$m-glid-min-size: $glid-min-size * $m-panel-scale;
$glid-gap-size: 12px;
$m-glid-gap-size: $glid-gap-size * $m-panel-scale;

* {
  font-family: 'Didact Gothic', sans-serif;
}
a {
  text-decoration: none;
}

.site-header--content {
  padding: 30px;
  height: 300px;
  max-height: calc(100vw * 5 / 8);
  .header--title {
    margin: 0;
  }
  .header--description {
    margin: 0;
  }
  *:not(:last-child) {
    margin-bottom: 16px;
  }
}

body.page--top {
  background-color: $bg-color;

  .panel--content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($glid-min-size, 1fr));
    grid-gap: $glid-gap-size;
    padding: $glid-gap-size;
    min-width: $glid-min-size * 2 + $glid-gap-size * 3;
    font-size: $panel-font-size;

    /* mobile */
    @media screen and (max-width: $break-point) {
      grid-template-columns: repeat(auto-fill, minmax($m-glid-min-size, 1fr));
      grid-gap: $m-glid-gap-size;
      padding: $m-glid-gap-size;
      min-width: $m-glid-min-size * 2 + $m-glid-gap-size * 3;
      font-size: $m-panel-font-size;
    }

    .panel--item {
      background-color: #fff;
      box-shadow: 2px 2px 4px 0  rgba(0,0,0,0.1);

      /* 色 */
      &.color-darkgray {
        background-color: #444;
        color: #fff;
      }

      /* 大きさ */
      &.size-large {
        grid-row: span 2;
        grid-column: span 2;
      }

      /* サイズを正方形にする */
      position: relative;
      &:before {
        display: block;
        content: '';
        padding-top: 100%;
      }
      .item-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }

      .item-content {
        .panel--title {
          padding: 12px;
          font-size: 1.3em;
          font-weight: normal;
          margin: 0;
        }
      }
    }
  }
}
