.site-header--content {
  padding: 30px;
  height: 300px;
  max-height: calc(100vw * 5 / 8);
  .header--title {
    margin: 0;
  }
  .header--description {
    margin: 0;
  }
  *:not(:last-child) {
    margin-bottom: 16px;
  }

  position: relative;
  .header--cloud {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
  }
}
