.site-header--content {
  position: relative;
  padding: 30px;
  height: 300px;
  max-height: calc(100vw * 5 / 8);
  .header--title {
    margin: 0;
  }
  .header--description {
    margin: 0;
  }
  *:not(:last-child) {
    margin-bottom: 16px;
  }
  #top3d {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#cloud-header {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: auto;
}
