<% function main(buf) { %>
  <main class="panel--content">
    <a href="profile.html" class="panel--item color-darkgray size-large">
      <article class="item-content">
        <h2 class="panel--title">Profile</h2>
      </article>
    </a>
    <a href="profile.html" class="panel--item">
      <div class="item-content">hoge</div>
    </a>
    <a href="profile.html" class="panel--item">
      <div class="item-content">hoge</div>
    </a>
    <a href="profile.html" class="panel--item">
      <div class="item-content">hoge</div>
    </a>
    <a href="profile.html" class="panel--item">
      <div class="item-content">hoge</div>
    </a>
    <a href="profile.html" class="panel--item">
      <div class="item-content">hoge</div>
    </a>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/92/three.min.js"></script>
  <script src="js/top.js"></script>
<% } %><% include ./src/shared/layout %>
